
.Header {
    background-color: #2F3033;
    color: #f4f4f4;
    width: 100%;

    &_txtCircle {
        border-radius: 50%;
        display: inline-block;
        padding: 8px;
        text-align: center;
        background-color: #4D5057;
        @media (max-width: 540px) {
            margin: auto 0.5em;
        }
    }

    &_txt {
        margin: auto 1em;
        display: none;
        @media (min-width: 541px) and (max-width: 1920px) {
            display: block;
        }
    }

    &_txt_sm {
        margin: auto 1em;
        display: none;
        @media (min-width: 341px) and (max-width: 540px) {
            display: block;
        }
    }

    &_txt_xs {
        margin: auto 1em;
        display: none;
        @media (max-width: 340px) {
            display: block;
        }
    }

    &_user {
        border-left: 1px solid #7E8085;
        padding: 0.5em 0;
    }

    &_user_menu {
        background-color: #2F3033 !important;
        min-width: 0.5em !important;
        margin-right: 0.5em !important;
    }

}
